﻿<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-1"></div>
        <div class="row col-md-4 col-sm-10">
            <div class="col-md-12 col-sm-12" style="text-align: center">
                <h3 class="cruk-blue" style="vertical-align: middle;">
                    Good Luck
                </h3>
            </div>            
        </div>
        <div class="col-md-4 col-sm-1"></div>
    </div>
</div>