﻿@inherits System.Web.Mvc.WebViewPage
@using System.Web.Optimization

<!DOCTYPE html>
<html ng-app="customersApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
    <meta name="description" content="Facilitators" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/bootstrap-material-design/bootstrap-material-design.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/bootstrap-material-design/ripples.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/angular-loading-bar/loading-bar.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>

    <link rel="stylesheet" type="text/css" href="~/Content/site.css" />               
 

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="customers">Customers</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    <ui-view></ui-view>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Test Application</p>
    </footer>
</div>
<script type="text/javascript" src="~/Scripts/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/vendor/bootstrap-material-design/material.min.js"></script>
<script type="text/javascript" src="~/Scripts/vendor/bootstrap-material-design/ripples.min.js"></script>
<script type="text/javascript" src="~/Scripts/vendor/angular/angular.min.js"></script>
<script type="text/javascript" src="~/Scripts/vendor/angular-ui-router/angular-ui-router.min.js"></script>
<script type="text/javascript" src="~/Scripts/vendor/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="~/Scripts/vendor/angular-loading-bar/loading-bar.min.js"></script>
<script type="text/javascript" src="~/Scripts/vendor/angular-ui-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="~/Scripts/vendor/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
                         
<script type="text/javascript">
    if (location.host.indexOf('localhost') >= 0)
    {
        document.write('<script src="http://localhost:35729/livereload.js?snipver=1"></' +
            'script>');
    }

    (function ($) {
        $.material.init();
    })(jQuery);

</script>
    
<script src="~/Scripts/build/testSpa.js"></script> 

</body>
</html>
