﻿body
{
    background-color: white !important;
    padding-bottom: 20px;
    padding-top: 55px;
    -ms-overflow-style: scrollbar;
    
}


.text-capitalize
{
    text-transform: capitalize;
}


/* Set padding to keep content from hitting the edges */

.body-content
{
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Set width on the form input elements since they're 100% wide by default */

/*input,
select,
textarea {
    max-width: 280px;
}*/

input::-ms-clear {
    display: none;
                 }

.cruk-gray
{
    color: #e3e3e3
}

.cruk-blue
{
    color: #2e008b
}

.cruk-magenta
{
    color: #e40085
}

.cruk-light-blue
{
    color: #009edc
}

.cruk-dark-gray
{
    color: #666666
}

/* #01b6ed !important */
.navbar
{
    background: #2e008b !important;
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav > li > a
{
    background: #2e008b;
    color: #9d9d9d;
    padding-top: 15px;
    padding-bottom: 15px
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus
{
    background: #2e008b;
    color: #e3e3e3;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
    background: #2e008b;
    color: #fff;
}

.navbar-brand > a:hover,
.navbar-inverse .navbar-nav > li > a:focus
{
    background: #2e008b;
    color: white;
}

.navbar-brand
{
    background: url('/Content/Images/CRUK_Neg_White_50.png') no-repeat #2e008b;
    color: white;
    width: 140px;
    padding: 10px 15px 10px 15px;
}

.navbar .navbar-brand
{
    height: 50px;    
}



.navbar-inverse
{
    color: white;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover
{
    /*-webkit-box-shadow: inset 0 3px 3px 3px rgba(255, 255, 255,.60);
        box-shadow: inset 0 3px 3px 3px rgba(255, 255, 255,.60);*/
    color: white;
}

input.ng-pristine
{
    /*background-color: green;*/
}

input.ng-dirty
{
    /*background-color: red;*/
}

input.ng-valid
{
    /*border:3px solid darkred;*/
}

.form-group .help-block
{
    display: none;
}

.form-group.has-error .help-block
{
    display: block;
}

.gmap-window-icon
{
    margin: 5px;
}

/*input.ng-dirty.ng-invalid {
     border: 3px solid red;
 }*/

.vertical-line
{
    background-color: silver;
    display: table;
    margin: 0 auto;
    width: 1px;
}

.messages
{
    color: red;
    font-size: smaller;
    padding-bottom: 10px;
    padding-top: 5px;
}

table
{
    font-size: 14px;
}

.btn
{
    margin: 1px 1px;
}

body .container-fluid div.well-floatLeft
{
    float: left;
    padding-bottom: 40px;   
    width: 100%;
}

.form-control
{
    font-size: 14px;
}

.form-group .checkbox label,
.form-group .radio label,
.form-group label
{
    color: black;
    font-size: 14px;
}

    .form-group label.control-label {
        font-size: 14px;
        margin: 0px 0 0 0;
    }

.checkbox label,
.radio label,
label
{
    font-size: 14px;
    color: black;
}

.has-error-manual
{
    color: red;
    display: block;
    font-size: 12px;
    position: absolute;
}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder
{
    color: silver !important;
    font-size: 12px !important;
}

input:-moz-placeholder ,
textarea:-moz-placeholder
{ /* Firefox 18- */
    color: silver !important;
    font-size: 12px !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder
{ /* Firefox 19+ */
    color: silver !important;
    font-size: 12px !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder
{
    color: silver !important;
    font-size: 12px !important;
}

.top1
{
    margin-top: 1%;
}

.top2
{
    margin-top: 2%;
}

.top3
{
    margin-top: 3%;
}

.top5
{
    margin-top: 5%;
}  

.top6
{
    margin-top: 6%;
}

.top7
{
    margin-top: 7%;
}

.top8
{
    margin-top: 8%;
}    

.top9
{
    margin-top: 9%;
}

.top10
{
    margin-top: 10%;
}

.top20
{
    margin-top: 20%;
}

.top30
{
    margin-top: 30%;
}

.btn-group-sm .btn,
.btn-group-sm .input-group-btn .btn,
.btn.btn-sm,
.input-group-btn .btn.btn-sm
{
    padding: 5px 10px;
}

.form-group
{
    margin: 15px 0 0 0;
    padding: 5px 0 0 0;
}

.form-group .form-control
{
    margin-bottom: 1px;
}

.form-control
{
    height: 25px;
    padding: 0px 0;
}

label
{
    color: black;
    margin-bottom: 3px;
}

a,
a:focus,
a:hover
{
    color: #23527c;
    font-weight: bold;
}

.breadcrumb
{
    margin-bottom: 0px;
}

.togglebutton label
{
    color: inherit;
}

.dropdownjs::after
{
    right: 0px;
    top: -7px;
}

.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 400;
}

html.lt-ie9 .form-control
{
    border-bottom: 1px solid black;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th
{
    border-top: 0px;
}

table
{
    border-collapse: inherit;
    border-spacing: 0;
    margin-bottom: 10px;
}

.form-control,
.form-group .form-control
{
    background-image: linear-gradient(#2e008b, #2e008b), linear-gradient(gray, gray);
}

.btn:not(.btn-raised).btn-info,
.input-group-btn .btn:not(.btn-raised).btn-info
{
    color: black;
}

#loading-bar .bar
{
    background: #e40085;
    height: 6px;
}

#loading-bar-spinner .spinner-icon
{
    border-left-color: whitesmoke;
    border-top-color: whitesmoke;
    height: 16px;
    width: 16px;
}

#loading-bar .peg
{
    -moz-box-shadow: whitesmoke 1px 0 6px 1px;
    -ms-box-shadow: whitesmoke 1px 0 6px 1px;
    -webkit-box-shadow: whitesmoke 1px 0 6px 1px;
    box-shadow: whitesmoke 1px 0 6px 1px;
    height: 2px;
    opacity: .45;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
}

tr.archived
{
    background: grey;
    color: white;
    font-style: oblique;
}

td[data-container-for='IsArchived']
{
    background: white;
    color: black;
    font-style: normal;
}

.bootstrap .tags
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;    
}

.bootstrap .tags.focused
{
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.bootstrap .tags .tag-item
{
    background: #428bca;
    border: 1px solid #357ebd;
    border-radius: 4px;
    color: #fff;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.bootstrap .tags .tag-item.selected
{
    background: #d9534f;
    border: 1px solid #d43f3a;
    border-radius: 4px;
    color: #fff;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.bootstrap .tags .tag-item button
{
    background: transparent;
    color: #000;
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
    opacity: .4;
}

.bootstrap .autocomplete
{
    border-radius: 4px;
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
}

.bootstrap .autocomplete .suggestion-item.selected
{
    background-color: #e9e9e9;
    color: #262626;
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
    font-weight: normal;
}

.bootstrap .autocomplete .suggestion-item
{
    font: 14px Roboto, Helvetica, Arial, sans-serif !important;
}

.bootstrap .autocomplete .suggestion-item em
{
    background-color: white;
    font: normal bold 14px Roboto, Helvetica, Arial, sans-serif !important;
    font-weight: normal;  
}

.bootstrap .autocomplete .suggestion-item.selected em
{
    background-color: white;
    color: #262626;
    font: 14px Roboto, Helvetica, Arial, sans-serif !important;
}

.bootstrap .tags .input
{
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
}

.panel-body
{
    padding: 0px 5px 15px 5px;
}


.btn,
.input-group-btn .btn
{
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
}
.btn-group, .btn-group-vertical {    
    margin: 3px;
    min-height: 32px;
                                }

.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
    float: left;
                                                                      }

.ta-editor.ta-html, .ta-scroll-window.form-control   {
    height: 300px;  
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
                                                     }
.ui-select-bootstrap .ui-select-choices-row>span{
    white-space: normal;
                                                }

.ui-select-bootstrap>.ui-select-match>.btn {
    text-transform: none;
    font-weight: normal;
    background-color: white;

                                           }

/*.ui-select-bootstrap>.ui-select-match>.btn:hover, .btn:focus { 
    background-color: red;
    outline-color: white;

}*/

/*.ui-select-bootstrap>.ui-select-match>.btn:not(.btn-raised), .btn:not(.btn-raised).btn-default, .input-group-btn .btn:not(.btn-raised), .input-group-btn .btn:not(.btn-raised).btn-default {
    border: 1px solid silver;
}*/

.ta-toolbar.focussed .active {
    background-color: rgba(153, 153, 153, .4);
    border: 1px solid silver;
                             }
.ui-select-multiple.ui-select-bootstrap {
    padding: 0px;
                                        }

.ui-select-multiple.ui-select-bootstrap.btn-group-xs .btn, .btn-group-xs .input-group-btn .btn, .btn.btn-xs, .input-group-btn .btn.btn-xs {
    font-size: 14px;
    text-transform: none;
    font-weight: 300;
    padding: 3px 5px 0px 5px;
                                                                                                                                          }


.ui-select-bootstrap .ui-select-choices-row > span {
    padding: 0px;
                                                   }

.ui-select-bootstrap .ui-select-choices-row.active>span
{
    background-color: #1c94fb;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    
                                                              }

.cruk-list-header
{
    background-color: #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 0px 15px 0px;
    font-weight: bold;
   
}
.error-block
{
    color: red;
}
.btn-default-focus{
    box-shadow: none;
                  }


@media (max-width: 767px) {
    .table-responsive {
        padding-bottom: 8px;
        margin-bottom: 0px;
                      }
                          }


fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
         }

legend {
    font-size: 1em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    margin-bottom: 0px!important; 
       }
    
.selectDiv
{
    padding-right: 12px;
}

.wrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
      }


@media (max-width: 1231px) {
    .navbar-header {
        float: none;
                   }
    .navbar-toggle {
        display: block;
                   }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
                     }
    .navbar-collapse.collapse {
        display: none!important;
                              }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
                }
    .navbar-nav>li {
        float: none;
                   }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
                     }
    .navbar-text {
        float: none;
        margin: 15px 0;
                 }
    .navbar-collapse.collapse.in { 
        display: block!important;
                                 }
    .collapsing {
        overflow: hidden!important;
                }
                           }

.list-group .list-group-item .list-group-item-heading {
    font-size: 16px;
                                                      }

.list-group .list-group-item .row-action-primary i, .list-group .list-group-item .row-picture i
{
    background: #e40085;
}

.customHr {
    width: 100%;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
  
          }

.list-group .list-group-item .row-action-primary, .list-group .list-group-item .row-picture {
    vertical-align: top;
    margin-top: 5px;
                                                                                            }

.panel-title > a
{
    color: black;
    font-weight: bold;
}

.search .checkbox
{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.panel.panel-default>.panel-heading, .panel>.panel-heading
{
    background-color: #a7a7a7;
}
.search small
{
    color: black;
}

.navbar .navbar-form
{
    margin-top: 8px;
}

.search .checkbox input[type=checkbox]
{
    position: inherit;
    margin: 0;
    width: 15px;
    height: 15px;
    opacity: 1;
    margin-right: 3px;
}
.searchLabel
{               
    font-weight: 600;
    font-size: 1.05em;
}

.iframeIsLoading span
{
    background-image: url("/Content/kendo/bootstrap/loading_2x.gif");   
    background-repeat: no-repeat;
    z-index: 100;
    top: 50%;
    left: 50%;
    height: 32px;
    width: 32px;
    position: absolute;
}

.iframeIsLoading div.overlay
{
    -ms-opacity: 0.1;
    opacity: 0.1;
    position: absolute;    
    top: 7%;
    right: 1%;
    bottom: 1%;
    left: 1%;
    z-index: 100000;
    background-color: black;
}
span.requiredStar
{
    color: red;
}

.engagement .ta-editor
{      
    min-height: 150px;
    height: auto;
}
.searchButton
{
    position: absolute;
    top: 30%;
    cursor: pointer;
    right: 0;
}

/* RULES FOR MATERIAL ICON CUSTOMISATIONS*/
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;

    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
                }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.highlight
{
    margin-bottom: 2px;
}
.highlight label
{
    padding: 4px;
    margin: 2px 5px 0 0;
}   
.highlight span
{
    display: inline-block;
}
.pagination > .disabled > a
{
    pointer-events: none;
    cursor: no-drop;
}
.ta-scroll-window > .ta-bind 
{
    min-height: 200px;
    height: auto;
}
.archived.k-grid-edit-row
{
    background: white;
    color: black;
}
.showOverFlow
{
    overflow: visible !important;
}
.navbar.navbar-inverse .dropdown-menu li>a
{
    padding: 5px 7px;
    font-size: 14px;
}
.navbar.navbar-inverse .dropdown-menu
{
    padding: 0;
}

.navbar.navbar-inverse .dropdown-menu .active>a:focus, .navbar.navbar-inverse .dropdown-menu .active>a:hover
{
    color: black;
}
.ta-toolbar.focussed .active
{
    background-color: rgba(153, 153, 153, .4);
}     
.ta-toolbar.focussed .btn:hover
{
    background-color: rgba(153, 153, 153, .8);
}


@media (max-width: 1231px) {     
    .showArchivedButton label
    {                 
        margin-top: 0 !important;
        padding-left: 15px;      
    }
    .searchForm, .searchForm .form-control
    {
        width: 100%;
    }        
    .searchForm .form-group
    {
        width: 100% !important;
        display: block;
    }
    body .navbar-right
    {
        float: left !important;
        margin: 7.5px -15px;
    }           
    body .navbar-form {
        padding: 10px 15px;
        margin-top: 8px;
        margin-right: -15px;
        margin-bottom: 8px;
        margin-left: -15px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
                      }
                           }
@media (min-width: 768px) {
    body .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
                                             }
                          }
.showArchivedButton label
{
    margin-top: 30%;        
}
.ui-select-toggle
{
    font-size: 14px;
    text-transform: none;
    font-weight: 300;
    padding: 3px 5px 1px 3px;
    margin-bottom: 1px;
}
.gridColumnactive 
{
    background-color:#009688;
}