﻿<br />
<div class="container">
    <div class="col-lg-12">
        <h3 style="vertical-align: middle;">
            Customers
        </h3>
        <a class="btn btn-link btn-raised pull-right" ui-sref="addcustomer({'id': 'new'})">Add Customer</a>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Credit Available</th>
                <th>Credit Limit</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="customer in customers">
                <th scope="row">{{$index + 1}}</th>
                <td>{{customer.Firstname + " " + customer.Surname}}</td>
                <td>{{customer.EmailAddress}}</td>
                <td>{{customer.DateOfBirth | date :  "dd of MMMM yyyy"}}</td>
                <td>{{customer.CreditLimit}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>