﻿<br />
<div class="container">
    <div class="col-lg-12">
        
        <div class="alert alert-dismissible {{message.Class}}" ng-show="message.showMessage">
            <button type="button" class="close" ng-click="message.showMessage = false">×</button>
            <strong>{{message.Heading}}</strong>
            {{message.Body}}
        </div>
        <form class="form-horizontal">
            <fieldset>
                <legend ng-if="addingCustomer">Add a new customer</legend>
                <legend ng-if="!addingCustomer">Edit customer ({{customer.Firstname + " " + customer.Surname}})</legend>
                <div class="col-lg-8">
                    <div class="form-group">
                        <label for="Firstname" class="col-md-2 control-label">First Name</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" required id="Firstname" ng-model="customer.Firstname" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Surname" class="col-md-2 control-label">Surname</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" required id="Surname" ng-model="customer.Surname" placeholder="Surname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="EmailAddress" class="col-md-2 control-label">Email</label>

                        <div class="col-md-10">
                            <input type="email" class="form-control" required id="EmailAddress" ng-model="customer.EmailAddress" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DateOfBirth" class="col-md-2 control-label">Date Of Birth</label>

                        <div class="col-md-10">
                            <input type="date" class="form-control" required id="DateOfBirth" ng-model="customer.DateOfBirth" placeholder="Date of Birth">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CreditLimit" class="col-md-2 control-label">Credit Limit</label>

                        <div class="col-md-10">
                            <input type="number" class="form-control" id="CreditLimit" required ng-model="customer.CreditLimit" placeholder="Credit Limit">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Company" class="col-md-2 control-label">Company</label>

                        <div class="col-md-10">
                            <select ng-model="customer.CompanyId" class="form-control" required>
                                <option value="" disabled="disabled">Please Select</option>
                                <option value="1">Filipili Co</option>
                                <option value="2">Genako Pl</option>
                                <option value="3">Jeraldis Tech</option>
                                <option value="4">Lu Chukis Labs</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="button" class="btn btn-default" ui-sref="customers">Cancel</button>
                            <button type="submit" class="btn btn-primary" ng-click="save()">Submit</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
